<h3>*ngIf</h3>

<button (click)="toggleShow()" >Mostrar u Ocultar</button>

<p *ngIf="show" >Condicional parrafo</p>

<h3>*ngFor</h3>

<p *ngFor="let person of people" >
  {{ person?.name }} {{ person?.lastname }} {{ person?.age }}
  ---------------------------------
</p>

<p *ngFor="let task of tasks" > {{ task }} </p>


<h3>[ngSwitch] *ngSwitchCase *ngSwitchDesault</h3>

<button (click)="setValue(1)" >1</button>
<button (click)="setValue(2)">2</button>
<button (click)="setValue(3)">3</button>

<div [ngSwitch]="value">
  <div *ngSwitchCase="1" >
    El valor es 1
  </div>
  <div *ngSwitchCase="2" >
    El valor es 2
  </div>
  <div *ngSwitchCase="3" >
    El valor es 3
  </div>
    <div *ngSwitchDefault >
    No Tiene Valor
  </div>
</div>
<h3>Cambinar Directivas Estructurales</h3>
<h3>ng-container</h3>

<button (click)="toggleShow()" >
  Mostrar u Ocultar
</button>

<ng-container *ngIf="show" >
  <ng-container *ngFor="let task of tasks">
    <p>
      {{ task }}
    </p>
    <hr>
  </ng-container>

</ng-container>