

<div class="container"
     [style.background]="color" >
  <p>[style.attribute-name]</p>
  <button (click)="toggleColor()" >
    rojo o verde
  </button>
  <p>Color: {{ color }}</p>
</div>

<div class="container"
     [ngStyle]="{ 'background': color }" >
  <p>ngStyle</p>
  <button (click)="toggleColor()" >
    rojo o verde
  </button>
  <p>Color: {{ color }}</p>
</div>

<div class="container"
    [class.box-active]="active" >
  <p>[class.class-name]</p>
  <button (click)="toggleActive()" >
    Activar o Desactivar
  </button>
  <p>Active: {{ active }}</p>
</div>

<div class="container"
    [ngClass]="{ 'box-active': active }" >
  <p>ngClass</p>
  <button (click)="toggleActive()" >
    Activar o Desactivar
  </button>
  <p>Active: {{ active }}</p>
</div>