<h1>Data Binding</h1>

<h3>Two way data binding {{ twoWayDataBinding }}</h3>

<app-two-way-data-binding
  [(value)]="helloWorld">
</app-two-way-data-binding>

<h3>Interpolación de Strings {{ stringInterpolation }}</h3>

<p>{{ helloWorld }}</p>

<h3>Binding de propiedades {{ propertyBinding }} </h3>

<input type="text" [value]="helloWorld">

<h3>Binding de eventos {{ eventBinding }} </h3>

<button (click)="changeText()" >Boton</button>

