<button (click)="back()" >Atras</button>

<h1>Detalle del producto: {{ name }}</h1>


<h1>Productos Relacionados</h1>

<nav>
  <ul>
    <li *ngFor="let productName of products"
        [routerLink]="['/producto', productName]" > {{ productName }} </li>
  </ul>
</nav>