
<!--
<nav>
  <ul>
    <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/contactenos" routerLinkActive="active">Contactenos</a></li>
    <li><a routerLink="/conocenos" routerLinkActive="active">Conocenos</a></li>
  </ul>
  <h3>Productos</h3>
  <ul>
    <li><a [routerLink]="['producto', productName]" routerLinkActive="active">{{ productName }}</a></li>
    <li><a routerLink="/producto/BlueRay" routerLinkActive="active">BlueRay</a></li>
  </ul>
</nav>
-->
<router-outlet></router-outlet>