
<input #file type="file" style="display: none" >

<button (click)="file.click()" >Agregar Imagen</button>

<app-counter #counter ></app-counter>

<h1>{{ counter.value }}</h1>

<button (click)="counter.add()">Sumar 1</button>
<button (click)="counter.less()">Restar 1</button>