<table class="table table-sm table-bordered" >
  <tr>
    <th width="30%">Valor</th>
    <th>Pipe</th>
    <th>Resultado</th>
  </tr>
  <tr>
    <td>{{ text }}</td>
    <td>uppercase</td>
    <td>{{ text | uppercase  }}</td>
  </tr>
  <tr>
    <td>{{ text }}</td>
    <td>lowercase</td>
    <td>{{ text | lowercase  }}</td>
  </tr>
  <tr>
    <td>{{ text }}</td>
    <td>titlecase</td>
    <td>{{ text | titlecase  }}</td>
  </tr>
  <tr>
    <td>{{ text }}</td>
    <td>slice:0:4</td>
    <td>{{ text | slice:0:4  }}</td>
  </tr>
  <tr>
    <td>{{ textList }}</td>
    <td>slice:0:2</td>
    <td>{{ textList | slice:0:2  }}</td>
  </tr>
  <tr>
    <td>{{ price }}</td>
    <td>number:'.4-4'</td>
    <td>{{ price | number:'.4-4'  }}</td>
  </tr>
  <tr>
    <td>{{ price }}</td>
    <td>currency</td>
    <td>{{ price | currency:'S/ '  }}</td>
  </tr>
  <tr>
    <td>{{ loading }}</td>
    <td>percent</td>
    <td>{{ loading | percent  }}</td>
  </tr>
  <tr>
    <td>{{ person }}</td>
    <td>json</td>
    <td>{{ person | json  }}</td>
  </tr>
  <tr>
    <td>{{ now }}</td>
    <td>date:'short'</td>
    <td>{{ now | date:'short'  }}</td>
  </tr>
  <tr>
    <td>{{ now }}</td>
    <td>date:'EEEE d MMMM yyyy'</td>
    <td>{{ now | date:'EEEE d MMMM yyyy'  }}</td>
  </tr>
  <tr>
    <td>{{ now }}</td>
    <td>date:'EEEE d MMMM yyyy'</td>
    <td>{{ now | date:'EEEE d MMMM yyyy':'':'es' | titlecase }}</td>
  </tr>

  <tr>
    <td>{{ generateFilePromise }}</td>
    <td>async</td>
    <td>{{ generateFilePromise | async }}</td>
  </tr>

  <tr>
    <td>{{ url }}</td>
    <td>defaultImg</td>
    <td>{{ url | defaultImg:'assets/img-not-found.png' }}</td>
  </tr>
</table>

<h1>defaultImg</h1>  

<img [src]="url | defaultImg" alt="">

<h1>Slice:0:2</h1>  
<table class="table table-sm table-bordered" >

  <tr *ngFor="let item of textList | slice:0:2">
    <td>{{ item }}</td>
  </tr>
</table>