<app-drawer-container>
  <app-drawer #drawer>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let option of menu"
          [routerLink]="option.url"
          routerLinkActive="active">{{ option.title }}</li>
    </ul>
  </app-drawer>
  <app-drawer-content>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Documentación</a>
    </nav>
    <router-outlet></router-outlet>
  </app-drawer-content>
</app-drawer-container>