<div class="header">
  <!-- Etiqueta
  <ng-content select="header" ></ng-content>
  -->
  <!-- clase css
  <ng-content select=".header" ></ng-content>
  -->
  <!-- atributo -->
  <ng-content select="[header]" ></ng-content>
</div>
<div>
  <ng-content></ng-content>
</div>
<div class="footer">
  <ng-content  select="footer"></ng-content>
</div>