:host {
  display: block;
  width: 150px;
  border-right: 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  
}
.header {
    height: 50px;
    border-bottom: 1px solid;
}

.footer {
    height: 50px;
    border-top: 1px solid;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}