<app-counter *ngIf="show" [value]="count" (log)="addLog($event)" ></app-counter>

<button (click)="addCount()" >Sumar 1
</button>
<button (click)="toggleShow()" >Mostrar u Ocultar
</button>

<ng-container *ngFor="let log of logs" >
  <p>{{ log }}</p>
  <hr>
</ng-container>